<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="css/global.css" />
  <title>Professional Recipe Sharing Page</title>
</head>

<body>
  <!-- Include the header here -->
  <%- include("header.ejs") %>

    <section class="hero">
      <div class="hero-background"></div>
      <div class="hero-content">
        <div class="title">
          <h1>
            Welcome to <span style="color: yellow">Recipe Sharing Page</span>
          </h1>
          <p class="sub-title">Your ultimate taste experience awaits!!!</p>
        </div>
      </div>
    </section>

    <section class="about-recipe">
      <fieldset style="border-radius: 10px">
        <legend>
          <h2>About Recipe Oasis</h2>
        </legend>
        <div class="about-details">
          <div class="about-description">
            <p>
              Welcome to Recipe Sharing, your go-to platform for discovering and
              sharing the best recipes from Bangladesh. Based in the
              vibrant city of London, we are passionate about bringing together
              Bangladeshi food lovers from every corner of the globe.<br /><br />
              Our journey began in the heart of London, a city renowned for its
              diverse culinary scene. Inspired by the rich tapestry of flavors
              and cultures, Recipe Sharing was founded to celebrate this
              diversity and make it accessible to everyone. Whether you're a
              seasoned chef or a home cook, we invite you to join our community
              and share your culinary creations.<br /><br />
              The Recipe Oasis website is dedicated to showcasing the rich and diverse
              flavors of Bengali cuisine, making it an ideal culinary resource for those
              living in London. Introducing Bengali cuisine in London provides an
              exciting opportunity for food enthusiasts to explore a new culinary world,
              blending the cultural richness of Bengal with the cosmopolitan dining scene
              of London.<br/><br/> This platform not only connects expatriates with their culinary
              heritage but also introduces Londoners to the vibrant tastes and aromatic
              spices of Bengali cooking. From the comforting warmth of a traditional
              fish curry to the sweet indulgence of mishti doi, Recipe Oasis brings
              the essence of Bengali hospitality and culinary excellence to your
              kitchen, enhancing your dining experience with authentic recipes and
               a community of fellow food lovers.
            </p>
            
            <p style="
                margin-top: 20px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                gap: 10px;
              ">
              <span>Sincerely,</span>
              <i>- The Recipe Sharing Team</i>
            </p>
          </div>
          <div class="about-image">
            <img src="images/Picture_4.avif" alt="About Food Picture" />
          </div>
        </div>
      </fieldset>
    </section>



    <section class="testimonials">
      <h2>Testimonials</h2>
      <div class="testimonials-grid">
        <!-- Testimonial 1 -->
        <div class="testimonial-item">
          <img src="images/testimonial.jpg" alt="Miss Hafsa" />
          <p>
            "This platform has transformed my cooking experience. I've learned
            so much and connected with amazing chefs!"
          </p>
          <h5>Miss Hafsa</h5>
          <div class="rating">★★★★★</div>
        </div>


        <!-- Testimonial 4 -->
        <div class="testimonial-item">
          <img src="images/testimonial1.jpg" alt="Mrs Rani" />
          <p>
            "The community here is incredible. I've received so much positive
            feedback on my recipes!"
          </p>
          <h5>Mrs Rani</h5>
          <div class="rating">★★★★☆</div>
        </div>
      </div>
    </section>
    <footer>
      <p>&copy; 2024 Recipe Blog. All rights reserved.</p>
    </footer>
</body>

</html>